<ion-header>
  <ion-navbar color="primary">
  <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  </ion-header>
  <ion-content padding>
  <form [formGroup]="form">
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
      O campo é obrigatório
      </div>
    </ion-item>
    <ion-item>
    <ion-label stacked>Latitude</ion-label>
      <ion-input type="text" formControlName="latitude"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.latitude.valid && (form.controls.latitude.dirty || form.controls.latitude.touched)" color="danger">
      <div [hidden]="!form.controls.latitude.errors.required">
      O campo é obrigatório
      </div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Longitude</ion-label>
      <ion-input type="text" formControlName="longitude"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.longitude.valid && (form.controls.longitude.dirty || form.controls.longitude.touched)" color="danger">
      <div [hidden]="!form.controls.longitude.errors.required">
      O campo é obrigatório
      </div>
    </ion-item>
    <div padding>
    <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Save</button>
    </div>
  </form>
  </ion-content>
